body { background: #fff; }

#header {padding-bottom: 20px;}
.page-header { margin-bottom: 0px; border-bottom: 0; }
.container, .container-fluid { padding: 0; }

.inner-wrapper {

    width: 98%;
    padding: 0 1% 0 1%;

}
a { text-decoration: none; }
a:hover { text-decoration: none; }
h1,h2 {
    line-height: 150%;
    padding: 10px 0;
    font-weight: 900;
    text-shadow: 0;
    font-family: "Ruda", Arial, sans-serif;
}
h1 { text-transform: uppercase; }
h2 {
    font-weight: 400;
    font-size: 2em;
}

#tool-bar {
    float: left;
    min-height: 50px;
    max-height: 220px;
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 100%;
}

#tool-bar a {
    margin-right: 10px;
}
#tool-bar a .glyphicon {
    float: left;
    line-height: 220%;
    margin-right: 5px;

}
#info-bar {
    float: left;
    min-height: 40px;
    width: 100%;
    border-bottom: solid 1px #ddd;
}

.tool-bar-btn {
    float: left;
    line-height: 300%;
    font-size: 1.2em;
}

.info-bar-header, .product-info {
    float: left;
    line-height: 300%;
}
.info-bar-header.id {
    width: 5%;
}

.info-bar-header.name, .product-info.name {
    margin-left: 5px;
    width: 25%;
}

.info-bar-header.price, .product-info.price {
    width: 25%;
}

.info-bar-header.desc, .product-info.desc {
    width: 30%;
}

.info-bar-header.stat, .product-info.stat {
    width: 5%;
}

#products-bar {
    width: 100%;
}

.product-row {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 300%;
    border-bottom: solid 1px #eaeaea;
}

.product-row:nth-of-type(odd) {
    background: #fafafa;
}

.glyphicon {
    font-size: 1.2em;
    margin-left: 12px;
}

p.form-footer {
    clear: both;
    padding-top: 15px;
    font-size: .8em;
}

/* ==========================================================================
   COMMON CUSTOM STYLES AND BOOTSTRAP OVERWRITES
   ========================================================================== */
.red { color: red; }
.green { color: green; }

.no-transition {
  -webkit-transition: all 0.001s;
  -moz-transition: all 0.001s;
  -ms-transition: all 0.001s;
  -o-transition: all 0.001s;
  transition: all 0.001s;
}

.spacer-50 {

    width: 100%;
    height: 50px;
}
