
    <div id="tool-bar" class="inner2-wrapper">
        <a href="#/newProduct" class="tool-bar-btn" id="">
            <span class="glyphicon  glyphicon-plus-sign" aria-hidden="true"></span>
            <span>Add New Product</span>
        </a>
        <a href="#/newSite" class="tool-bar-btn" id="">
            <span class="glyphicon  glyphicon-plus-sign" aria-hidden="true"></span>
            <span>Add New Site</span>
        </a>
        
        <a href="#/" class="tool-bar-btn green" id="">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span>View Products List</span>
        </a>
        
        <a href="#/listSites" class="tool-bar-btn green" id="">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span>View Sites List</span>
        </a>        
        
        
    </div>
    
    <div id="info-bar" class="inner2-wrapper">
        <span class="info-bar-header name">Name</span>
        <span class="info-bar-header url">URL</span>
    </div>
    
    <div class="product-row" ng-repeat="website in websites | orderBy:'name'"> 
        <!-- <a href="https://amber-inferno-7558.firebaseio.com/{{product.$id}}">{{product.$id}}</a>-->
        <a class="product-info name" ng-href="{{product.site}}" target="_blank" href="https://amber-inferno-7558.firebaseio.com/{{product.$id}}">{{website.name}}</a>
        <span class="product-info url">{{website.site}}</span>

    </div>
    
