
    <div id="tool-bar" class="inner2-wrapper">
        <a href="#/newProduct" class="tool-bar-btn" id="">
            <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Add New Promotion
        </a>
        <a href="#/newSite" class="tool-bar-btn" id="">
            <span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Add New Site
        </a>
    </div>
    
    <div id="info-bar" class="inner2-wrapper">
        <span class="info-bar-header name">Name</span>
        <span class="info-bar-header price">Price</span>
        <span class="info-bar-header desc">Description</span>
        <span class="info-bar-header stat">Status</span>
    </div>
    
    <div class="product-row" ng-repeat="product in products | orderBy:'name'"> 
        <!-- <a href="https://amber-inferno-7558.firebaseio.com/{{product.$id}}">{{product.$id}}</a>-->
        <a class="product-info name" ng-href="{{product.site}}" target="_blank" href="https://amber-inferno-7558.firebaseio.com/{{product.$id}}">{{product.name}}</a>
        <span class="product-info price">${{product.price}}</span>
        <span class="product-info desc">{{product.description}}</span>
        <span class="glyphicon glyphicon-ok green" aria-hidden="true" ng-show="{{product.status}}"></span>
        <span class="glyphicon glyphicon-exclamation-sign red" aria-hidden="true" ng-show="!{{product.status}}"></span>
        
        

    </div>